$darker-blue-color: rgb(27, 120, 156);
$dark-blue-color: rgb(39, 173, 226);
$blue-img-color: #87D2EF;
$lighter-blue-color: rgb(242, 250, 253);
$lighter-yellow-color: rgb(255, 251, 247);
$light-yellow-color: rgb(252, 244, 233);
$yellow-img-color: #F7C787;
$dark-yellow-color: #E8A44F;
$black-color: hsl(0, 0%, 17%);
$red-color: rgb(243, 115, 115);
