.home-columns {
  // background-color: #F2EEEF;

  .home-column-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 2.5rem);
  }

  .home-column-right {
    background-image: url('https://thumbs.dreamstime.com/z/woman-laptop-interacts-looking-thought-binacular-vector-cartoon-illsatration-global-monitoring-tiny-woman-giant-139155550.jpg');
    // background-image: url('https://thumbs.dreamstime.com/z/young-woman-laptop-sofa-living-room-works-studies-freelance-education-surf-internet-bright-illustration-interior-172399838.jpg');
    // background-image: url('https://thumbs.dreamstime.com/z/rear-side-view-smart-professional-woman-vector-cartoon-illustration-working-her-laptop-computer-136750118.jpg');
    background-repeat: no-repeat;
    background-size: 100% 120%;
    transform: scaleX(-1);
  }
}