@import '../common/colors';

.navbar {
  background-color: transparent !important;
}

.nav-image {
  margin-right: 4px;
}

.navbar-item {
  border-radius: 35px !important;
  text-transform: uppercase;
  margin: 5px;
}

#navbar-item {
  &:hover, &:active, &:focus {
    background-color: $yellow-img-color;
    color: white;
  }
}

#navbar-profile {
  &:hover {
    background-color: $dark-blue-color;
    color: white;
  }
  border: 3px solid black;
  background-color: $blue-img-color;
}