.home-columns {

  .home-column-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .home-column-right {
    margin-top: 80px;
    background-image: url('../../assets/binacular.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: scaleX(-1);
  }
}

.home-title {
  font-size: 4.5rem;
  text-transform: uppercase;
}

.home-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: $black-color;
  }
}

// @-moz-keyframes blink {
//   from, to {
//     color: transparent;
//   }
//   50% {
//     color: black;
//   }
// }

// @-webkit-keyframes "blink" {
//   from, to {
//     color: transparent;
//   }
//   50% {
//     color: black;
//   }
// }

// @-ms-keyframes "blink" {
//   from, to {
//     color: transparent;
//   }
//   50% {
//     color: black;
//   }
// }

// @-o-keyframes "blink" {
//   from, to {
//     color: transparent;
//   }
//   50% {
//     color: black;
//   }
// }