@import '../common/colors';

.navbar-item {
  // border-radius: 2px;
  text-transform: uppercase;
}

#navbar-item {
  &:hover, &:active, &:focus {
    background-color: $yellow-img-color;
    color: white;
  }
}

#navbar-profile {
  &:hover {
    background-color: $dark-blue-color;
    color: white;
  }
  border: 3px solid black;
  background-color: $blue-img-color;
}