@import '../common/colors';

.chat-whole-section {
  margin-top: 30px;
  max-height: 90vh;
}

.chat-section {
  max-height: 50vh;
  overflow: scroll;
}

.chat-header {
  display: flex;
}

.chat-delete-btn {
  cursor: pointer;
  margin-left: 5px;
  background-color: $yellow-img-color;
  color: white;
  border-radius: 100px;
  font-size: 20px;

  &:hover {
    background-color: $dark-yellow-color;
    color: white;
    border-radius: 100px;
    transform: scale(1.2);
  }
}

.chat-text-owner {
  background-color: $light-yellow-color;
  margin-left: 10vw;
}

.chat-text-receiver {
  margin-right: 10vw;
}

.chat-box {
  border-radius: 20px;
}

.chat-editor {
  margin-top: -10px;
  button {
    margin-top: 5px;
  }

}